*{
    background-color: #e9e0da;
}

.container-fluid{
    padding: 0!important;
}

nav{
    background: #343434;
    width: 100%;
    color: cadetblue;
}

.navbar-brand{
    padding: 0 2vw;
}

.song-container{
    margin: 2vw;
    text-align: center;
} 

.song-box{
    margin: 1vw;
    display: inline-block;
}

.box-image img{
    border-radius: 5px;
    width: 100%;
}

.box-content span{
    font-size: .8vw;
    display: block;
}

.box-content{
    padding: 1vw;
}

.box-playlist-song{
    width: 22vw;
    border: 1px solid #34343434;
    border-radius: 5px;
}

.input-text{
    text-align: center;
}

.input-text input{
    border-radius: 5px;
}